.footer-container {
  background-color: #181818;
  width: 100%;
  height: 280px;
  border: 2px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
}
.footer-newsletter-container {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  padding: 20px;
  border-right: 2px solid #d9d9d9;
}
.footer-brand-container {
  padding: 20px;
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #d9d9d9;
}
.footer-terms-container {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
}

.footer-newsletter-icons {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  border: 2px solid #d9d9d9;
}
.newsletter-title {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #d9d9d9;
  padding: 5px;
  padding-left: 15px;
}
.newsletter-title-icon {
  height: 25px;
}
.newsletter-title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}
.newsletter-title-text p {
  font-weight: 500;
  color: #d9d9d9;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}
.newsletter-input {
  width: 100%;
  height: 33%;
  display: flex;
  border-bottom: 2px solid #d9d9d9;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.social-icons {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.social-icon {
  height: 35px;
}
.footer-copyright-container {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: flex-end;
}
.footer-copyright-container p {
  margin: 0;
  color: #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 1;
}
.footer-brand-image {
  height: 100%;
  border: 1px solid #d9d9d9;
}

.footer-terms {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  border: 2px solid #d9d9d9;
}

.terms-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 33.3%;
  border-bottom: 2px solid #d9d9d9;
  text-decoration: none;
  padding: 5px;
  padding-left: 15px;
}
.terms-link p {
  color: #d9d9d9;
  font-size: 22px;
  margin: 0;
  position: relative;
}
.terms-link p:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #d9d9d9;
  transition: width 0.4s ease-in-out;
}

.terms-link:hover p::after {
  width: 100%;
}
.footer-make-by{

    width: 100%;
    height: max-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
.footer-make-by p{

    margin: 0;
    color: #d9d9d9;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
}
