@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
  margin: 0!important;
  padding: 0!important;
  box-sizing: border-box!important;
  font-family: 'Playfair Display';
  font-family: "Rajdhani", sans-serif;
  
  

}


